.form-login .form-floating:focus-within {
  z-index: 2;
}

.form-login input[type="email"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
  margin-top: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-register input {
  border-radius: 0;
  margin-top: 5px;
}